h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #212529;
    overflow-x: hidden;
}

/* HOME */
.homeBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}
.home {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: flex-start;
}
.homeSide {
    width: 50%;
}
.header {
    display: flex;
    flex-direction: column;
}
.header h1 {
    font-size: 70px;
}
.header span {
    font-size: 55px;
}
.homeSide p {
    color: #ac0000;
    font-size: 30px;
}
.sub {
    font-size: 30px;
    font-weight: bold;
}
.homeBut {
    background-color: #ac0000 !important;
    font-size: 30px !important;
    font-weight: bold !important;
    padding: 25px 50px 20px !important;
}
.homeBut:hover {
    background-color: #970505 !important;
}
.homeText {
    width: 345px;
    margin-block-start: 10px;
}
.dates {
    display: flex;
    flex-direction: column;
    font-size: 46px;
}
.home .homeSide + .homeSide {
    padding-left: 50px;
    box-sizing: border-box;
}


/* LINE */
.redBlackLine {
    height: 10px;
    display: flex;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 75px;
}
.redBlackLine div {
    width: 50%;
    height: 100%;
}
.redLine {
    background-color: #ac0000;
}
.blackLine {
    background-color: black;
}

/* RPP */
.rpp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.wordBlock {
    display: flex;
    flex-direction: column;
    width: 150px;
}
.rppText {
    font-size: 20px;
    padding-left: 15px;
    position: relative;
    top: -30px;
}
.rppHeader {
    font-size: 200px;
    font-weight: 700;
}

/* ABOUT */
.aboutBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.empty {
    display: flex;
    align-items: center;
}
.empty div {
    width: 50%;
    height: 65px;
}
.emptyGray {
    background-color: #f6f6f6;
}
.emptyWhite {
    background-color: white;
}
.aboutBody {
    background-color: #f6f6f6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.about {
    display: flex;
}
.aboutSide {
    width: 50%;
    padding-left: 50px;
    box-sizing: border-box;
}
.aboutBallons {
    width: 50%;
}
.about li {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 400;
}
.about li::marker {
    color: #ac0000;
    position: relative;
    top: 3px;
    font-size: 30px;
    border-radius: 50%;
}

/* COURSE */
.course {
    display: flex;
}
.courseText {
    width: 50%;
    padding-top: 100px;
}
.courseText h2 {
    font-size: 40px;
    font-weight: bold;
}
.courseText p {
    font-size: 18px;
}
.course img {
    width: 500px;
    margin-left: 50px;
}
.courseBut {
    margin-top: 100px !important;
}


/* WHO */
.whoBlock {
    width: 100%;
}
.emptyWhite h2 {
    padding-bottom: 25px;
    padding-left: 30px;
    font-size: 40px;
    margin-block-end: 0;
    margin-block-start: 0;
}
.whoBlock {
    background-color: #f6f6f6;
    margin-top: 100px;
}
.whoBody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.who {
    display: flex;
}
.who img {
    width: 500px;
}
.whoPoints {
    padding-left: 100px;
    box-sizing: border-box;
    margin-top: auto;
    margin-bottom: auto;
}
.whoPoints li {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 400;
}
.whoPoints li::marker {
    color: #ac0000;
    position: relative;
    top: 3px;
    font-size: 30px;
    border-radius: 50%;
}

/* PROGRAM */
.programTitle h2{
    font-size: 40px;
    margin-block-end: 0;
}
.programBlock {
    width: 100%;
}
.programBlock .empty div{
    width: 60%;
}
.emptySmallGray {
    width: 40% !important;
}
.programBody {
    background-color: #f6f6f6;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding-top: 100px;
    padding-bottom: 50px;
}
.program li {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 400;
}
.program li ul {
    padding-left: 15px;
    margin-top: 15px;
}
.program li ul li {
    padding-left: 10px;
}
.program li::marker {
    color: #ac0000;
}
.program img {
    width: 30px;
}
.programPoint h4 {
    font-size: 20px;
    display: flex;
    margin-block-end: 10px;
    align-items: center;
}
.programPoint h4 span {
    margin-left: 10px;
}
.program {
    display: flex;
    margin-bottom: 100px;
}
.programSide + .programSide {
    padding-left: 50px;
    box-sizing: border-box;
}
.programDate {
    font-weight: 600;
    font-size: 18px;
    padding-left: 40px;
}

/* TRENER */
.trenerMob {
    display: none;
}
.trener {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trener h2 {
    font-size: 40px;
    margin-bottom: 70px;
}
.trener p {
    align-self: flex-start;
    font-size: 40px;
}
.trener img {
    width: 60%;
}
.trenerImage {
    width: 100%;
    height: 700px;
    background-image: url("../../Assets/trener.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    display: flex;
    flex-direction: column;
}
.trenerImage span {
    width: 200px;
    margin-bottom: 90px;
    position: relative;
}
.trenerMainInfo {
    display: none;
}
.trenerTextOne {
    top: 15px;
}
.trenerTextTwo {
    top: 45px;
}
.trenerTextThree {
    top: 10px;
    left: 550px;
    width: 220px !important;
}
.trenerTextFour {
    top: 40px;
    left: 550px;
    width: 220px !important;
}
.trenerTextFive {
    top: 25px;
    left: 550px;
    width: 230px !important;
}
.trenerInfo {
    width: 50%;
    margin-left: auto;
    position: relative;
    padding-left: 50px;
    box-sizing: border-box;
    margin-top: 50px;
}
.trenerInfo li {
    margin-bottom: 15px;
    font-weight: 400;
    list-style-type: none;
    padding-left: 15px;
    margin-bottom: 35px;
}
.trenerInfo li::before{
    position: absolute;
    content: "";
    width: 30px;
    background-color: #ac0000;
    height: 30px;
    border-radius: 50%;
    left: 50px;
}

/* PRICE */
.priceBlock {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.priceBlock h2 {
    font-size: 40px;
}
.priceBlock .empty {
    width: 100%;
}
.priceBlock .empty div{
    width: 40%;
}
.priceBlock .emptyGray {
    width: 60% !important;
}
.priceBody {
    background-color: #f6f6f6;
    width: 100%;
    display: flex;
    justify-content: center;
}
.price {
    display: flex;
    justify-content: space-between;
}
.priceItem {
    position: relative;
    top: -25px;
    width: 25%;
    background: white;
    box-shadow: -3px 6px 2px 0px #c7c7c7;
    border: 1px solid #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    box-sizing: border-box;
}
.priceItem button {
    margin-top: auto !important;
    background-color: #28a745 !important;
    font-weight: bold !important;
    font-size: 20px !important;
    padding: 15px 15px;
}
.priceItem button:hover {
    background-color: #0e8f2c !important;
}
.priceItem p {
    margin-top: auto;
    color: #ac0000;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.priceItem h5 {
    font-size: 20px;
}
.priceItem ul {
    height: 70%;
}
.priceItem li {
    font-size: 18px;
    margin-bottom: 15px;
    padding-left: 10px;
    font-weight: 400;
    list-style: none;
}
.priceItem li::before {
    position: absolute;
    content: "✓";
    color: #ac0000;
    font-size: 25px;
    border-radius: 50%;
    left: 35px;
    
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding-bottom: 50px;
    align-items: flex-end
}
.footerLinks svg{
    width: 40px !important;
    font-size: 25px !important;
}

@media screen and (max-width: 1140px) {
    .price {
        flex-direction: column;
        align-items: center;
    }
    .priceItem {
        width: 40%;
        margin-bottom: 100px;
    }
    .priceItem br {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .home {
        flex-direction: column;
        margin-top: 80px;
    }
    .home + .home {
        margin-top: 0;
    }
    .homeSide {
        width: 100%;
    }
    .home .homeSide + .homeSide {
        padding-left: 0;
    }
    .home + .home .homeSide + .homeSide {
        margin-top: 50px;
    }
    .dates span{
        margin-bottom: 10px;
    }
    .about {
        flex-direction: column-reverse;
    }
    .aboutBallons {
        width: 100%;
    }
    .aboutSide {
        width: 100%;
        margin-bottom: 50px;
    }
    .course img {
        display: none;
    }
    .courseText {
        width: 100%;
        text-align: center;
    }
    .who {
        flex-direction: column-reverse;
    }
    .who img {
        width: 100%;
    }
    .emptyWhite h2 {
        padding-left: 17px;
        font-size: 36px;
    }
    .trenerImage {
        height: 570px;
    }
    .trenerTextOne {
        top: 0;
    }
    .trenerTextTwo {
        top: 5px;
    }
    .trenerTextThree {
        top: -50px;
        left: 450px;
    }
    .trenerTextFour {
        top: -55px;
        left: 455px;
    }
    .trenerTextFive {
        top: -95px;
        left: 455px;
    }
    .trenerInfo {
        width: 100%;
    }
}

@media screen and (max-width: 756px) {
    .home {
        margin-top: 50px;
    }
    .homeBlock {
        height: auto;
    }
    .header h1 {
        font-size: 60px;
    }
    .empty div {
        height: 50px;
    }
    .emptyWhite h2 {
        font-size: 27px;
    }
    .program {
        flex-direction: column;
    }
    .programSide + .programSide {
        padding-left: 0;
    }
    .programBody {
        padding-top: 50px;
    }
    .priceItem {
        width: 65%;
    }
    .priceItem br {
        display: block;
    }
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .footerLinks {
        width: 60%;
        justify-content: space-between;
        display: flex;
        margin-bottom: 20px;
    }
    .footerLinks svg{
        font-size: 50px !important;
    }
    .trenerMainInfo {
        display: block;
    }
    .trener h2 {
        margin-bottom: 0px;
    }
    .trener p {
        align-self: center;
    }
    .trenerImage {
        display: none;
    }
    .trenerMob {
        display: block;
    }
}

@media screen and (max-width: 468px) {
    .header h1 {
        font-size: 40px;
    }
    .header span {
        font-size: 36px;
    }
    .homeSide p {
        font-size: 24px;
    }
    .homeSide {
        display: flex;
        flex-direction: column;
    }
    .homeBut {
        font-size: 24px !important;
    }
    .courseBut {
        margin-top: 50px !important;
    }
    .dates {
        font-size: 36px;
    }
    .rppHeader {
        font-size: 140px;
    }
    .rppText {
        font-size: 18px;
    }
    .redBlackLine {
        margin-bottom: 50px;
    }
    .rpp {
        margin-bottom: 50px;
    }
    .aboutSide {
        padding-left: 0;
    }
    .courseText {
        padding-top: 50px;
    }
    .whoBlock .emptyGray {
        display: none;
    }
    .whoBlock .empty {
        text-align: center;
    }
    .whoBlock .empty div{
        width: 100%;
    }
    .whoPoints {
        padding-left: 0;
    }
    .programTitle {
        position: relative;
        top: -25px;
    }
    .programTitle h2 {
        margin-top: 0;
        font-size: 32px;
    }
    .program {
        margin-bottom: 50px;
    }
    .trenerInfo {
        padding-left: 0;
    }
    .trenerInfo li::before {
        left: 0;
    }
    .priceBlock {
        margin-top: 0;
    }
    .priceItem {
        width: 95%;
    }
    .priceItem p {
        font-size: 30px;
    }
    .priceItem button {
        font-size: 16px !important;
    }
    .priceItem ul {
        padding-left: 15px;
    }
    .priceItem li::before {
        left: 15px;
    }
    .footer {
        margin-top: 50px;
    }
    .trener img {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .homeBut {
        font-size: 18px !important;
    }
    .rppText {
        font-size: 16px;
        padding-left: 10px;
    }
    .rppHeader {
        font-size: 120px;
    }
}

@media screen and (max-width: 350px) {
    .homeBut {
        padding: 25px 35px 20px !important;
    }
    .rpp {
        flex-direction: column;
    }
    .wordBlock {
        flex-direction: row;
        align-items: flex-end;
    }
    .trener h2 {
        font-size: 30px;
    }
    .trener p {
        font-size: 26px;
    }
    .priceBlock h2 {
        font-size: 30px;
    }
    .homeText {
        width: 280px;
    }
    .header h1 {
        font-size: 34px;
    }
    .header span {
        font-size: 30px;
    }
    .homeSide p {
        font-size: 20px;
    }
    .dates {
        font-size: 28px;
    }
    .footerLinks {
        width: 85%;
    }
    .footer {
        padding-bottom: 25px;
    }
}