.main {
    width: 1140px;
}

@media screen and (max-width: 1140px) {
    .main {
        width: 1000px;
        padding: 0 25px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 1000px) {
    .main {
        width: 756px;
        padding: 0 25px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 756px) {
    .main {
        width: 556px;
    }
}

@media screen and (max-width: 556px) {
    .main {
        width: 456px;
    }
}

@media screen and (max-width: 456px) {
    .main {
        width: 370px;
    }
}


@media screen and (max-width: 350px) {
    .main {
        width: 320px;
    }
}