.main {
    width: 1140px;
}

@media screen and (max-width: 1140px) {
    .main {
        width: 1000px;
        padding: 0 25px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 1000px) {
    .main {
        width: 756px;
        padding: 0 25px;
        box-sizing: border-box;
    }
}